.some-demo{
  background-color: blue;
  width: 200px;
  height: 200px;
  position: relative;
  //animation: opasiti ease-out 3s;
  //opacity: 0;
  transform: translateX(10px);
}

.some-demo_poslije{
  width: 400px;
}

.radni{
  height: 400px;
}

.radni__element{
  background-color: red;
}

.radni__element_modifi-kator{
  background-color: chartreuse;
}

//@keyframes opasiti {
//  from {opacity: 1;}
//  to {opacity: 0}
//}